body {
	background-color: #FFF5D8;
	color: #2c2c2c;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
	-webkit-text-size-adjust: 100%; /* iPhoneで起きるデザインの崩れ防止 */
}

div.image {
	display:inline-flex;
}

img#logo {
	margin-top:10px;
	width:480px;
}

.Tab_on_top{
	position: fixed;
	text-align: center;
	top: 0;
	background-color: #FFC55F;
	left: 0;
	right: 0;
	height: 12vw;
	border: solid;
	border-color: #FFF;
	z-index: 1; /*上に表示する優先度 数字が高いほど高くなる*/
}

.return{ /*右上の一覧に戻るボタン デザインは任せる*/
	position: fixed;
	text-align: center;
	top: 0;
	right: 0;
	height: 10vw;
	z-index: 2; /*上に表示する優先度 数字が高いほど高くなる*/
}

input#return-button{
	-webkit-appearance: none; /* iPhoneで起きるデザインの崩れ防止 */
	-webkit-text-size-adjust: 100%;
	height:70px;
	width:200px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 35px;
    color:2c2c2c;
    background-color:#73CBD0;
	border-radius: 8px;
}

h2 {
	margin-top: 2%;
	font-size: 65px;
	/*width: 100vw;*/
}

h3 {
	margin-top: 2%;
	margin-bottom: 0;
	font-size: 50px;
}

p {
	margin-top: 2%;
	font-size: 50px;
}

input#circle {
	width:370px;
	 padding : 30px ;
}

input#cross {
	width:370px;
	 padding : 30px ;
}